body {
    margin: 0;
    display: flex;
}

.controls {
    
}

.map {
    width: 50vw;
    height: 100vh;
    border: 1px solid black;
}

.charts {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chart {
    width: 100%;
    height: 50%;
    border: 1px solid black;
}

rect {
    fill: darkred;
}

.tick text {
font-size: 14px;
fill: dimgrey;
}
  
.tick line {
stroke: dimgrey;
}
  
.axis-label {
font-size: 14px;
fill: dimgrey;
}

.title {
font-size: 3.2em;
fill: dimgrey;
}